body{
  font-size: 18px;
  font-family: 'Quattrocento Sans', sans-serif;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #181818;
}

.center h1, .thesis h1{
  text-align: center;
  padding: 32px;
  color: #181818;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
  color: #181818;
}

h3{
  font-size: 1.2rem;
  font-weight: bold;
  color: #181818;
}

.flex{
  display: flex;
}

.bold{
  font-weight: bold;
}

.light{
  font-weight: lighter;
  color: gray;
}

.center{
  justify-content: center;
  align-items: center;
}

/* Header */
header{
  justify-content: space-between;
  height: 64px;
  padding: 0 24px;
  background-color: white;
}

header .flex{
  align-items: center;
}

.logo-text{
  line-height: 32px;
}

.main-nav a{
  text-decoration: none;
  color: black;
  margin-left: 16px;
}

/* Banner */
.banner{
  padding: 32px 60px 32px 0;
  justify-content: space-around;
  background-color: #D4D4D4;
}

.banner img{
  padding: 0 24px;
  height: 100%;
  width: 60%;
}

.banner-text{
  align-items: center;
}

.button{
  background-color: #4A464A;
  justify-content: center;
  border-radius: .25rem;
  padding: 1rem;
  text-align: center;
  color: white;
}

.button:hover{
  background-color: #181818;
  cursor: pointer;
  transition: .5s ease-in;
}

.learn{
  width: 85%;
}

.learn h1{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #181818;
  text-align: center;
}

.learn p{
  padding-bottom: 1rem;
}

/* Featured content */
.featured-content{
  padding: 32px 60px 32px 0;
  margin-bottom: -10rem;
}

.post-content-left{
  flex-direction: column;
  width: 60%;
  padding: 0 24px;
}

.post-content-left img{
  height: 55%;
  padding-bottom: 32px;
}

.post-content-right{
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.post-content-right img{
  height: auto;
  width: 100%;
}

.image-container{
  width: 35%;
  height: auto;
  margin: .88rem;
}

.post-text{
  width: 65%;
}

.post:hover{
  background-color: #D4D4D4;
  cursor: pointer;
}

.post-text a{
  text-decoration: none;
  color: #44AADE;
}

/* Courses section */
.courses{
  background: #F4F4F3;
}
.course-catalog{
  flex-wrap: wrap;
  padding: 0 72px;
  justify-content: center;
}

.course{
  width: 25%;
  margin: 32px;
  background: white;
}

.course img{
  height: auto;
  width: 100%;
}

#courses{
  padding: 8px 0;
}
.course-text{
  padding: 16px;
}

/* Thesis exhibit */
.thesis-video{
  flex-direction: column;
  padding: 0 24px;
  width: 60%;
}

.thesis-right{
  margin-top: 1rem;
}

/* Footer  */
footer p{
  padding: 16px 24px;
}
